
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navBar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: auto;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 15px;

}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
}

.title {
  margin-top: 0px
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

h1 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.navIcon-container {
  position: relative;
  padding-right: 10px;
}

.navIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-right: 10px;
}
